.carousel-container{
    margin-top: 75px;
}
.image img{
    height: 400px;
    width: 300px;
}
.image-first img{
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
.carousel-control-prev{
    display: none;
}
.intro{
    margin-bottom: 220px;
    color: white;
}
.second-btn{
    background-color: rgb(235, 176, 27) ;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
}